@use '$lib/styles/tokens' as *;

:root {
  --orange-accent: #ff4c24;
}

* { margin: 0; padding: 0; box-sizing: border-box; }
::selection { background-color: $orange-accent; color: $dark; }

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
  color: $off-white;
  font-family: "PP Neue Montreal", system-ui, sans-serif;
}

main { flex: 1; }

.title-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


h1 {
    font-weight: 500;
}

h3 {
    font-weight: 200;
}
